Thumbs.db

.idea/
.vscode/
.vs/
cmake-build-debug/
cmake-build-release/
cmake-build-debug-llvm/
cmake-build-release-llvm/
cmake-build-debug-mingw/
cmake-build-release-mingw/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
libraries/
build/
out/
xcode/
CMakeLists.txt.user
README_RU.md
.DS_Store
